<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
    <variable name="customLayout"
              value="${longdate} | ${level:uppercase=true} | ${message}${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=tostring}}"/>
    <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
    <targets>
        <target xsi:type="File" name="file" fileName="${basedir}/logs/Log_${shortdate}.log"
                layout="${customLayout}"
                archiveFileName="${basedir}/logs/Archiv/Log_${shortdate}.log"
                archiveEvery="Day"
                maxArchiveFiles="30"/>
        <target xsi:type="ColoredConsole"
                name="tracebox"
                layout="${customLayout}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="tracebox" />
    </rules>
</nlog>